p2/img/food3.png
p2/img/food2.png
p2/img/food1.png
p2/img/about.png
p2/style.css
p2/script.js
p2/index.html
p1/style.js
p1/style.css
p1/joe.jpg
p1/index.html
p1/.DS_Store
.DS_Store
p2/img/home.png
p2/img/s1.png
p2/img/s2.png
p2/img/s3.png
p2/img/Thumbs.db
