:root {
  --ff-primary: "Open Sans", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.5rem;
}

.clock {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  box-shadow: 0 0 0 2px black, 0 0 0 30px #c3c3c3;
}

.clock::after {
  content: "";
  position: absolute;
  background-color: red;
  z-index: 11;
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 0 5px black;
}

.number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
  color: teal;
}

.number1 {
  --rotation: 30deg;
}
.number2 {
  --rotation: 60deg;
}
.number3 {
  --rotation: 90deg;
}
.number4 {
  --rotation: 120deg;
}
.number5 {
  --rotation: 150deg;
}
.number6 {
  --rotation: 180deg;
}
.number7 {
  --rotation: 210deg;
}
.number8 {
  --rotation: 240deg;
}
.number9 {
  --rotation: 270deg;
}
.number10 {
  --rotation: 300deg;
}
.number11 {
  --rotation: 330deg;
}

.hand {
  --rotation: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 50%;
  left: 50%;
  position: absolute;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  z-index: 10;
}

.second {
  --rotation: 0;
  height: 40%;
  width: 2px;
  background-color: red;
  z-index: 100;
}

.minute {
  --rotation: 0;
  height: 35%;
  width: 10px;
  background-color: black;
}

.hour {
  --rotation: 0;
  background-color: #c3c3c3;
  width: 10px;
  height: 20%;
}

.pendulum {
  background-color: #444;
  width: 30px;
  height: 180px;
  position: absolute;
  top: calc(50% + 180px);
  left: 48%;
  transform: translateX(-50%);
  transform-origin: top;
  animation: pendulum 5s infinite;
  z-index: -100;
}

.pendulum::after {
  content: "";
  background-color: grey;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes pendulum {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
