/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* CSS */

*::selection {
  background-color: #00c2ff;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-image: url(car-bg.jpg);
  color: #fff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center center;
  min-height: 90vh;
}

nav {
  display: flex;
  justify-content: space-around;
}

.logo {
  font-size: 2rem;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

li > a {
  text-decoration: none;
  color: #c3c3c3;
}

.selected {
  color: #fff;
}

.focus {
  background-color: #00c2ff;
  color: #fff;
  padding: 0.5rem 1rem;
  display: inline-block;
  cursor: pointer;
}

.content {
  margin: auto 0;
  font-size: clamp(1.3rem, 2.5vw, 2.5rem);
  padding: 2rem;
}

.content h1 {
  color: #00c2ff;
}

.content a {
  text-decoration: none;
}

footer {
  background-color: #000;
  min-height: 10vh;
}

.container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1rem 2rem;
  align-items: center;
}

strong {
  color: #00c2ff;
}

li > p {
  color: #fff;
}

@media (max-width: 700px) {
  nav .focus {
    display: none;
  }

  .nav-list {
    display: grid;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1em;
  }

  .content {
    margin: auto 0.1rem;
  }

  .container {
    display: grid;
    row-gap: 2rem;
  }
}
